@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kreon", sans-serif;
}

body {
    background: linear-gradient(135deg, #b41f1f, #b02018);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

section {
    max-width: 50rem;
    padding: 2rem;
    position: relative;
}

.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.icon-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-icons {
    height: 3rem;
}

.home-title {
    font-size: 4rem;
    color: #fff;
}

.select-box {
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0px -8px 0px 0px #6d2e04 inset;
    background: #d8aa89;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.select-title {
    grid-column: span 2;
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #101010;
}

.select-icons-btn {
    display: flex;
    background: #6d2e04;
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 1rem 8rem;
    cursor: pointer;
}

.select-icons-btn:hover {
    background: #813f13;
    transition: background-color 0.5s;
}

.reminder-box {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    opacity: 0.5;
}

.select-opponent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.select-opp-btn {
    padding: 2rem 8rem;
    text-align: center;
    border: none;
    border-radius: 1.5rem;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    transition: background-color 0.4s;

    cursor: pointer;
    background-color: #f2b137;
    box-shadow: 0px -8px 0px 0px #cc8b13 inset;
}

.select-opp-btn:hover {
    background-color: #ffca68;
    box-shadow: 0px -8px 0px 0px #cc8b13 inset;
}

.game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.game-header {
    background-color: #dd500e;
    box-shadow: 0px -4px 0px 0px #6d2e04 inset;
    padding: 1.5rem;
    border-radius: 1.5rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    .icon-box {
        justify-content: center;
        gap: 1.5rem;
    }

}

.turn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    padding: 1.5rem 2.5rem;
    background-color: #ec6408;
    border-radius: 1rem;
    box-shadow: 0px -4px 0px 0px #c4544c inset;
}

.turn-box p,
.restart-btn p {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.restart-btn {
    background-color: #ec6408;
    padding: 1.4rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0px -4px 0px 0px #c4544c inset;
    justify-self: end;
    cursor: pointer;
}

.game-container {
    background-color: #d8aa89;
    padding: 1.5rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.game-tiles {
    width: 14rem;
    height: 14rem;
    background-color: #9e3900;
    border-radius: 1.5rem;
    position: relative;
    cursor: pointer;
}

.game-tiles-x,
.game-tiles-o {
    background-size: 50%;
    padding: 3rem;
    background-repeat: no-repeat;
    background-position: center;
}

.game-tiles-x {
    background: url("../assets/X.svg"), #fff;
}

.game-tiles-o {
    background: url("../assets/O.svg"), #fff;
}

.game-scores {
    display: flex;
    gap: 2rem;
}

.game-scores>div {
    padding: 1rem 4rem;
    text-align: center;
    border-radius: 1.5rem;
}

.x-name,
.o-name,
.ties-name {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #fff;
}

.x-score,
.o-score,
.ties-score {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    color: #fff;
}

.x-box {
    background-color: #c33131;
    box-shadow: 0px -4px 0px 0px #992121 inset;
}

.ties-box {
    background-color: #afb8bd;
    box-shadow: 0px -4px 0px 0px #858585 inset;
}

.o-box {
    background-color: #f2b137;
    box-shadow: 0px -4px 0px 0px #cc8b13 inset;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;

    display: none;
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: all 0.6s;
    transform: translateY(100%);
    background-color: #fff;
    padding: 3rem;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 0px 1px #000;
    z-index: 99;
}

.game-over-box,
.restart-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.result-text,
.restart-text {
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
}

.continue-box,
.restart-options {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.quit-btn,
.play-again-btn,
.cancel-btn,
.confirm-btn {
    padding: 1.5rem 1.7rem;
    cursor: pointer;

    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 1rem;
    transition: background-color 0.4s;
}

.restart-box,
.game-over-box,
.overlay {
    opacity: 0;
    visibility: hidden;
}

.game-section {
    display: none;
}